.wrapper {
  width: 100%;
  display: flex;
  background-color: #ffffff;
  border-radius: 20px;
  align-items: center;
  gap: 16px;
  padding: 12px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
    padding: 12px;
    justify-content: center;
  }
}
