.wrapper {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 20px;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.chart {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 1024px) {
    width: 200px;
    height: 200px;
  }
}

.legend {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 10px;

  padding: 12px 16px;
  border-radius: 12px;
  background: #f5f7fb;

  transition: 0.2s;

  &:hover {
    background: #e9eef8;
  }
}

.buttonWrapper {
  display: flex;
  gap: 8px;
}
.buttonWrapper .btn {
  background-color: #fff;
  border: 1px solid #bebebe;
  border-radius: 20px;
  padding: 4px 12px;
  cursor: pointer;
  font-weight: 600;
}

.buttonWrapper .checked {
  color: #ffffff;
  background-color: #86a8f1;
  border: 1px solid #bebebe;
  border-radius: 20px;
  padding: 4px 12px;
  cursor: pointer;
  font-weight: 600;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.name {
  flex: 1;
  font-weight: 500;
}

.value {
  font-weight: 600;
  color: #2563eb;
}

.percent {
  color: #9ca3af;
  font-size: 12px;
}
